In [120]:
import pandas as pd
from sklearn import linear_model

In [121]:
pd.__version__

'1.3.4'

In [122]:
df = pd.read_csv("data.txt")

In [123]:
df

   seguidores  seguindo  publicacoes  curtidas  comentarios  perfil
0         300       100           30        80           20       1
1           0       500            1         1            1      -1
2         100       900           50       200           30       1
3        2000       200          100        10            2      -1
4     2400000         7          160    500000         2000       1
5          40       250            0         0            0      -1

In [124]:
X = df[df.columns[:5]]
Y = df[df.columns[-1:]]

In [125]:
X

   seguidores  seguindo  publicacoes  curtidas  comentarios
0         300       100           30        80           20
1           0       500            1         1            1
2         100       900           50       200           30
3        2000       200          100        10            2
4     2400000         7          160    500000         2000
5          40       250            0         0            0

In [126]:
Y.values

array([[ 1],
       [-1],
       [ 1],
       [-1],
       [ 1],
       [-1]], dtype=int64)

In [127]:
X.values

array([[    300,     100,      30,      80,      20],
       [      0,     500,       1,       1,       1],
       [    100,     900,      50,     200,      30],
       [   2000,     200,     100,      10,       2],
       [2400000,       7,     160,  500000,    2000],
       [     40,     250,       0,       0,       0]], dtype=int64)

In [133]:
model = linear_model.LinearRegression()
model.fit(X.values,Y.values)

LinearRegression()

In [134]:
predictData = pd.read_csv('predictData.txt')

AttributeError: 'DataFrame' object has no attribute 'read_csv'

In [135]:
pd = predictData[predictData.columns[1:]]

In [136]:
results = model.predict(pd.values)

In [137]:
print('Resultados:')
for i,result in enumerate(results):
    if result > 0:
        result = 1
    else:
        result = -1
    print(f'{predictData.values[i][0]} = {result}')

Resultados:
A = -1
B = 1
C = 1
D = -1
E = 1
F = -1
G = 1
H = -1